<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript"
        src="static/lopa.js"></script>

<div id="cab_layout">
    Nothing to do

    {% for data in datas.iteritems() %}
    {{data}}
    {% endfor %}
</div>
